<form method="post" action="{{ path('admin_descriptions_delete', {'id': picture_description.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette description?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture_description.id) }}">
    <button class="btn">Delete</button>
</form>