{% block header %}
            {% include "./admin/header.html.twig" %}
{% endblock %}

{# {% block title %}Ajouter une photo{% endblock %} #}

{% block body %}
    <br><h2>Modifier une description</h2>
    {{ form(form) }}
    <a href="{{ path('admin_descriptions_home') }}">Retour vers la liste des descriptions</a>
{% endblock %}