 {% extends "base.html.twig" %}
{% block title %}ROGER RENOVATION - Accueil{% endblock %}
 
{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">ROGER RENOVATION <br/> Artisan à Caen </h1>
        <p class="lead"> Spécialiste en Maçonnerie et Carrelage
        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-warning" href="#" role="button">Devis gratuit</a>
        </p>
        <p class="lead">
            <a class="btn btn-warning" href="/create" role="button">Create</a>
        </p>
    </div>
</div>  
{% endblock %}

