 {% extends "base.html.twig" %}
{% block title %}ROGER RENOVATION - Accueil{% endblock %}
 
{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">ROGER RENOVATION <br/> Artisan à Caen </h1>
        <p class="lead"> Spécialiste en Maçonnerie et Carrelage
        </p>
        {# <section class="main">
            <div class="content">
                <div class="card">
                    <div class="left">
                    <h1>15 ans d'expérience</h1>
                    <center>
                    <img src="./img/experience.png" width="100px">
                    </center>
                    </div>
                    
                </div>  
            </div>
            <div class="left">
                    <h1>150 chantiers réalisés</h1>
                    <center>
                    <img src="./img/nbrchantiers.png" width="100px">
                    </center>
                    </div>
                    <div class="right">
                    </div>
                </div>
            </div>
        </section> #}
        
        <section class="main">
            <div class="content">
                <div class="card">
                    <div class="section quality_main">
                        <div class="col-sm-6 col-xs-12 quality_bg left"></div>
                            <div class="col-sm-6 col-xs-12 quality_bg right"></div>
                                <div class="container2">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12 left_con fadeInLeft wow">
                                            <div class="quality_sec">
                                            <span><img src="./img/experience.png" alt="chart-qualtiy" class="img-responsive lazy" width="100px"></span>
                                                <div class="quality_con">
                                                <center>
                                                <h1>15 ans d'expérience</h1>
                                                </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12 right-con fadeInRight wow">
                                            <div class="quality_sec">
                                            <span><img src="./img/nbrchantiers.png" alt="chart" class="img-responsive lazy" width="100px"></span>
                                                <div class="quality_con">
                                                <center>
                                                <h1>150 chantiers réalisés</h1>
                                                </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </section>

        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-warning" href="/contact" role="button">Devis gratuit</a>
        </p>
        <p class="lead">
            <a class="btn btn-warning" href="/create" role="button">Create</a>
        </p>
    </div>
</div>  
{% endblock %}

