 {% extends "base.html.twig" %}
{% block title %}ROGER RENOVATION - Accueil{% endblock %}
 
{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Bienvenue chez <span>Roger Rénovation</span></h2>
            <p data-aos="fade-up">Spécialiste en Maçonnerie et Carrelage et artisan à CAEN</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Obtenir un devis gratuit</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      {# <div class="carousel-item active" style="background-image: url(./img/roger-renovation/fond.jpg)">
      </div>
      <div class="carousel-item" style="background-image: url(./img/hero-carousel/hero-carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(./img/hero-carousel/hero-carousel-3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(./img/hero-carousel/hero-carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(./img/hero-carousel/hero-carousel-5.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a> #}
      <div class="carousel-item active" style="background-image: url(./img/roger-renovation/fond.jpg)">

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= --><!-- End Quote Form -->
    <!-- End Get Started Section -->

    <!-- ======= Constructions Section ======= -->
    <!-- End Constructions Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h1>Neuf et Rénovation</h1>
            <br><br>
          <h2>Maçonnerie traditionnelle</h2>
          <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos
            quam</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              {# <div class="icon"> #}
                <img src="./img/roger-renovation/construction.png" width="50">
                {# <i class="fa-solid fa-mountain-city"></i> #}
              {# </div> #}
              <h3>Construction</h3>
              <ul>
                <li>Murs en pierre</li>
                <li>Parpaing</li>
                <li>Brique, dalles, planchers, escaliers, terrasses, murs de clôture, agrandissements</li>
                </ul>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              {# <div class="icon"> #}
                {# <i class="fa-solid fa-arrow-up-from-ground-water"></i> #}
                <img src="./img/roger-renovation/renovation.png" width="50">
              {# </div> #}
              <h3>Rénovation</h3>
              <ul>
                <li>Façades pierre</li>
                <li>Béton</li>
              </ul>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              {# <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div> #}
              <img src="./img/roger-renovation/sols.png" width="50">
              <h3>Sols extérieurs</h3>
              <p>Pavé, dallage, enrobé, béton désactivé</p>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

           <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              {# <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div> #}
              <img src="./img/roger-renovation/autre.png" width="50">
              <h3>Autre</h3>
              <ul>
                <li>Terrassement, aménagements extérieurs</li>
                <li>Sciage, démolition, ouverture mur porteur</li>
                <li>Chape traditionnelle et ragréage</li>
                <li>Enduit de mode et nature</li>
              </ul>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

     <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
            <br><br>
          <h2>Carrelage & Faïence</h2>
          <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos
            quam</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              {# <div class="icon"> #}
                <img src="./img/roger-renovation/interieur.png" width="50">
                {# <i class="fa-solid fa-mountain-city"></i> #}
              {# </div> #}
              <h3>Intérieur</h3>
              <p>Salles de bain, pièces de vie</p>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              {# <div class="icon"> #}
                {# <i class="fa-solid fa-arrow-up-from-ground-water"></i> #}
                <img src="./img/roger-renovation/exterieur.png" width="50">
              {# </div> #}
              <h3>Extérieur</h3>
              <p>Terrasses, allées de jardin</p>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->
    

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(./img/alt-services.jpg);" data-aos="zoom-in"
            data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
            <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus
              laudantium. Soluta voluptate sed facere corporis dolores excepturi</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                  non provident</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                  deleniti atque</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Dine Pad</a></h4>
                <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus
                  aut eligendi omnis</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Tride clov</a></h4>
                <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet.
                  Et eligendi</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">
          <h1>Matériaux utilisés</h1>
          <br><br>
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>Eléments corps minéraux et végétaux</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Béton</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>Matériaux reconstitués</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <h4>Agrégats</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>Le ciment</h3> 
                <p class="fst-italic">
                  Le ciment est un élément de liaison utilisé dans le béton ou le mortier. 
                  C’est d’ailleurs souvent leur composant principal. Il est généralement composé de calcaire, d’argile et de sable siliceux.
                  Ces matériaux sont broyés et combinés avec d’autres composants, 
                  comme du minerai de fer, puis chauffés dans un four rotatif à environ 1 400 degrés Celsius.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> : Il possède l’atout d’être durable : le ciment réagit bien aux perturbations extérieures, est assez peu susceptible de se fissurer ou de s’abîmer avec le temps.</li>
                  <li><i class="bi bi-check2-all"></i> Vous pouvez choisir cette option de maçonnerie pour assurer à votre habitation
                  solidité et durabilité
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="./img/roger-renovation/ciment.jpg" alt="" class="img-fluid">
              </div>
            </div>
           {# </div><!-- End tab content item --> #}
            {# <div class="tab-content"> #}

            {# <div class="tab-pane active show" id="tab-1"> #}
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>La chaux</h3> 
                <p class="fst-italic">
                  La chaux est connue et utilisée depuis longtemps.
                  Sa fabrication de la chaux se fait par cuisson, sous une température située entre 900 et 1200°C, de roches calcaires. 
                  Après la cuisson, la chaux vive est éteinte dans de l’eau avant d’être broyée.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>Elle possède la capacité naturelle de réguler l’humidité des murs et de la pièce.
                  Un atout qui permet d’améliorer le confort intérieur d'une habitation mais aussi de faire des économies d'énergie</li>
                  <li><i class="bi bi-check2-all"></i> Perméable à l'air, elle est en revanche imperméable à l’eau et protège les murs des intempéries.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="./img/roger-renovation/chaux.jpg" alt="" class="img-fluid">
              </div>
            </div>
            {# </div><!-- End tab content item --> #}
            {# <div class="tab-content"> #}
              {# <div class="tab-pane active show" id="tab-1"> #}
                <div class="row">
                  <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>La pierre</h3> 
                <p class="fst-italic">
                  La pierre est le principal matériau de maçonnerie en "dur", notamment murs et murets.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>Les façades en pierres sont reconnues pour leurs propriétés d’isolation. 
                  Elles ont la capacité de conserver dans la maison la chaleur en hiver et la fraîcheur en été.</li>
                  <li><i class="bi bi-check2-all"></i> Les pierres sont très étanches. 
                  </li>
                  <li><i class="bi bi-check2-all"></i> Elles possèdent une longévité supérieure contrairement à la plupart des matériaux de construction 
                  </li>
                  <li><i class="bi bi-check2-all"></i> Elles nécessitent peu d'entretien.
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="./img/roger-renovation/pierre.jpg" alt="" class="img-fluid">
              </div>
            </div>
            {# </div><!-- End tab content item --> #}
            {# <div class="tab-content"> #}

            {# <div class="tab-pane active show" id="tab-1"> #}
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>Le bois</h3> 
                <p class="fst-italic">
                  Les bois de construction sont des matériaux très bien adaptés qu'on emploie aussi bien pour l'ossature, la charpente, le cloisonnage et les planchers.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>Ce matériau apporte d’excellentes performances thermiques, synonyme d’économies d’énergies</li>
                  <li><i class="bi bi-check2-all"></i>Le bois représente une ressource renouvelable et donc respectueuse de l’environnement.</li>
                  <li><i class="bi bi-check2-all"></i>Les constructions en bois se montrent très solides et résistantes.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="./img/roger-renovation/bois.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->
          {# </div> #}

          <div class="tab-content">
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Le béton</h3>
                <p class="fst-italic">
                  Le béton est un assemblage de matériaux de nature généralement minérale. 
                  Il met en présence des matières inertes, appelées granulats ou agrégats, et un liant ainsi que des adjuvants qui modifient les propriétés physiques et chimiques
                  du mélange. Mêlé à de l'eau, on obtient une pâte, à l'homogénéité variable, qui peut, selon le matériau, être moulée en atelier, ou coulée sur chantier. 
                  Le béton se solidifie donc.
                  Le béton est un matériau très protecteur, grâce à sa masse, qui vous garantit:
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Une bonne isolation phonique : il protège contre les bruits extérieurs et intérieurs, et associés d’autres produits d’isolation il en augmente la performance.</li>
                  <li><i class="bi bi-check2-all"></i> Une excellente isolation thermique : son inertie thermique assure très peu d’écarts de température : 
                  en hiver, le béton absorbe la chaleur le jour et la redistribue la nuit quand que le bâtiment se rafraîchit ;
                  et l’été, le béton emmagasine la fraîcheur de la nuit pour la restituer le jour. 
                  Une maison en béton permet donc de faire des économies de chauffage, et par exemple d’éviter d’installer un système de climatisation.
                  De plus, il s’avère quasiment insensible aux intempéries, et résiste notamment très bien au gel.
                  </li>
                  <li><i class="bi bi-check2-all"></i> Une qualité de l’air irréprochable : le béton n’augmente pas la pollution de l’air ambiant dans la maison,
                  il ne dégage ni odeur ni composé organique volatil ; il ne produit aucune condensation qui favoriserait le développement de micro-organismes.</li>
                  <li><i class="bi bi-check2-all"></i> Une protection idéale contre le feu : lors des tests coupe-feu, un bloc béton offre une résistance bien supérieure à ce que
                  prévoit la réglementation. 
                  Par ailleurs, le béton exposé au feu ne dégage aucune émanation toxique.</li>
                  <li><i class="bi bi-check2-all"></i> Le béton assure également une protection efficace contre les séismes, du fait de sa solidité</li>
                  <li><i class="bi bi-check2-all"></i> Enfin il prévient efficacement contre les termites.</li>
                  
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./img/roger-renovation/beton.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>La brique de parement</h3>
                 <p class="fst-italic">
                  Les briques de parement ont une vocation avant tout esthétique.
                  On utilisera ainsi souvent des briques de parement pour décorer une façade déjà conçue. 
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Les briques de parement conservent très bien la chaleur émise par les rayons du soleil,
                  ce qui permet à votre habitation de refroidir moins vite en hiver. 
                  En été, vous profitez de l'effet inverse. Les briques de parement évitent à votre habitation de surchauffer.
                  Les façades en briques contribuent ainsi à instaurer un climat intérieur agréable. 
                  Elles vous permettent en plus d'économiser de l'énergie.  </li>
                  <li><i class="bi bi-check2-all"></i> Les façades en briques ne demandent aucun entretien et restent belles longtemps.
                  Elles revêtent un lustre particulier après un certain temps, ce que l'on appelle la patine du temps.</li>
                  <li><i class="bi bi-check2-all"></i> Les briques de parement sont également réutilisable ou recyclable</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./img/roger-renovation/brique-parement.png" alt="" class="img-fluid">
              </div>
            </div>
            
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Le sable et le gravier</h3>
                <p class="fst-italic">
                 Il existe deux types de sable : le sable fin et le sable gros grain ou grossier. 
                 Chaque type de sables est utilisé à des fins différentes.
                 Le sable gros grain est utilisé pour la fabrication du mortier de jointement alors que le sable fin est utilisé pour la réalisation du mortier de scellement.
                 Le gravier quant à lui, est un matériau utilisé pour la réalisation du béton et on le mélange avec du ciment.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Le sable et le gravier permettent de donner une meilleure adhérence aux passages qui risquent de se glacer en hiver.
                   Contrairement aux produits de déglaçage, ils ne font pas fondre la glace, mais permettent de marcher de façon sécuritaire sur la surface.</li>
                  <li><i class="bi bi-check2-all"></i> Les grains de sable et les petits cailloux permettent d’éviter les chutes et il suffira d’un simple nettoyage au printemps.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./img/roger-renovation/agregats.jpg" alt="" class="img-fluid" width="1000">
              </div>
            </div>

          </div><!-- End tab content item -->

        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia
            reprehenderit sunt deleniti</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="./img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="./img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                    quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="./img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                    tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="./img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit
                    minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="./img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                    culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum
                    quid.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up"">

    
    
  <div class=" section-header">
        <h2>Recent Blog Posts</h2>
        <p>In commodi voluptatem excepturi quaerat nihil error autem voluptate ut et officia consequuntu</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="./img/blog/blog-1.jpg" class="img-fluid" alt="">
              <span class="post-date">December 12</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Julia Parker</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                </div>
              </div>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="./img/blog/blog-2.jpg" class="img-fluid" alt="">
              <span class="post-date">July 17</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Et repellendus molestiae qui est sed omnis</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Mario Douglas</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Sports</span>
                </div>
              </div>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

            <div class="post-img position-relative overflow-hidden">
              <img src="./img/blog/blog-3.jpg" class="img-fluid" alt="">
              <span class="post-date">September 05</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Quia assumenda est et veritati tirana ploder</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Lisa Hunter</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Economics</span>
                </div>
              </div>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

      </div>

      </div>
    </section>
    <!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Roger Renovation</h3>
              <p>
                4 Rue Charles Prunier 014<br>
                14000 Caen<br><br>
                <strong>Phone:</strong> 07 69 59 76 49<br>
                <strong>Email:</strong> roger-renovation@outlook.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                {#   #}
                <a href="https://www.facebook.com/robin14000" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                {# <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a> #}
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Product Management</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Graphic Design</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Hic solutasetp</h4>
            <ul>
              <li><a href="#">Molestiae accusamus iure</a></li>
              <li><a href="#">Excepturi dignissimos</a></li>
              <li><a href="#">Suscipit distinctio</a></li>
              <li><a href="#">Dilecta</a></li>
              <li><a href="#">Sit quas consectetur</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nobis illum</h4>
            <ul>
              <li><a href="#">Ipsam</a></li>
              <li><a href="#">Laudantium dolorum</a></li>
              <li><a href="#">Dinera</a></li>
              <li><a href="#">Trodelas</a></li>
              <li><a href="#">Flexo</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>UpConstruction</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
            href="https://themewagon.com">ThemeWagon</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

{# <div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">ROGER RENOVATION <br/> Artisan à Caen </h1>
        <p class="lead"> Spécialiste en Maçonnerie et Carrelage
        </p>
        {# <section class="main">
            <div class="content">
                <div class="card">
                    <div class="left">
                    <h1>15 ans d'expérience</h1>
                    <center>
                    <img src="./img/experience.png" width="100px">
                    </center>
                    </div>
                    
                </div>  
            </div>
            <div class="left">
                    <h1>150 chantiers réalisés</h1>
                    <center>
                    <img src="./img/nbrchantiers.png" width="100px">
                    </center>
                    </div>
                    <div class="right">
                    </div>
                </div>
            </div>
        </section> #}
        
        <section class="main">
            <div class="content">
                <div class="card">
                    <div class="section quality_main">
                        <div class="col-sm-6 col-xs-12 quality_bg left"></div>
                            <div class="col-sm-6 col-xs-12 quality_bg right"></div>
                                <div class="container2">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12 left_con fadeInLeft wow">
                                            <div class="quality_sec">
                                            <span><img src="./img/experience.png" alt="chart-qualtiy" class="img-responsive lazy" width="100px"></span>
                                                <div class="quality_con">
                                                <center>
                                                <h1>15 ans d'expérience</h1>
                                                </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12 right-con fadeInRight wow">
                                            <div class="quality_sec">
                                            <span><img src="./img/nbrchantiers.png" alt="chart" class="img-responsive lazy" width="100px"></span>
                                                <div class="quality_con">
                                                <center>
                                                <h1>150 chantiers réalisés</h1>
                                                </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </section>

        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-warning" href="/contact" role="button">Devis gratuit</a>
        </p>
        <p class="lead">
            {# <a class="btn btn-warning" href="/create" role="button">Create</a> #}
        </p>
    </div>
</div>   #}
{% endblock %}


