 {% extends "base.html.twig" %}
{% block title %}ROGER RENOVATION - Accueil{% endblock %}
 
{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Bienvenue chez <span>Roger Rénovation</span></h2>
            <p data-aos="fade-up">Spécialiste en Maçonnerie et Carrelage et artisan à CAEN</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Obtenir un devis gratuit</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      {# <div class="carousel-item active" style="background-image: url(./img/roger-renovation/fond.jpg)">
      </div>
      <div class="carousel-item" style="background-image: url(./img/hero-carousel/hero-carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(./img/hero-carousel/hero-carousel-3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(./img/hero-carousel/hero-carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(./img/hero-carousel/hero-carousel-5.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a> #}
      <div class="carousel-item active" style="background-image: url(./img/roger-renovation/fond.jpg)">

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= --><!-- End Quote Form -->
    <!-- End Get Started Section -->

    <!-- ======= Constructions Section ======= -->
    <!-- End Constructions Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h1>Neuf et Rénovation</h1>
            <br><br>
          <h2>Maçonnerie traditionnelle</h2>
          <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos
            quam</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              {# <div class="icon"> #}
                <img src="./img/roger-renovation/construction.png" width="50">
                {# <i class="fa-solid fa-mountain-city"></i> #}
              {# </div> #}
              <h3>Construction</h3>
              <ul>
                <li>Murs en pierre</li>
                <li>Parpaing</li>
                <li>Brique, dalles, planchers, escaliers, terrasses, murs de clôture, agrandissements</li>
                </ul>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              {# <div class="icon"> #}
                {# <i class="fa-solid fa-arrow-up-from-ground-water"></i> #}
                <img src="./img/roger-renovation/renovation.png" width="50">
              {# </div> #}
              <h3>Rénovation</h3>
              <ul>
                <li>Façades pierre</li>
                <li>Béton</li>
              </ul>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              {# <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div> #}
              <img src="./img/roger-renovation/sols.png" width="50">
              <h3>Sols extérieurs</h3>
              <p>Pavé, dallage, enrobé, béton désactivé</p>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

           <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              {# <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div> #}
              <img src="./img/roger-renovation/autre.png" width="50">
              <h3>Autre</h3>
              <ul>
                <li>Terrassement, aménagements extérieurs</li>
                <li>Sciage, démolition, ouverture mur porteur</li>
                <li>Chape traditionnelle et ragréage</li>
                <li>Enduit de mode et nature</li>
              </ul>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

     <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
            <br><br>
          <h2>Carrelage & Faïence</h2>
          <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos
            quam</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              {# <div class="icon"> #}
                <img src="./img/roger-renovation/interieur.png" width="50">
                {# <i class="fa-solid fa-mountain-city"></i> #}
              {# </div> #}
              <h3>Intérieur</h3>
              <p>Salles de bain, pièces de vie</p>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              {# <div class="icon"> #}
                {# <i class="fa-solid fa-arrow-up-from-ground-water"></i> #}
                <img src="./img/roger-renovation/exterieur.png" width="50">
              {# </div> #}
              <h3>Extérieur</h3>
              <p>Terrasses, allées de jardin</p>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">
          <h1>Matériaux utilisés</h1>
          <br><br>
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>Eléments corps minéraux et végétaux</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Béton</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>Matériaux reconstitués</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <h4>Agrégats</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>Le ciment</h3> 
                <p class="fst-italic">
                  Le ciment est un élément de liaison utilisé dans le béton ou le mortier. 
                  C’est d’ailleurs souvent leur composant principal. Il est généralement composé de calcaire, d’argile et de sable siliceux.
                  Ces matériaux sont broyés et combinés avec d’autres composants, 
                  comme du minerai de fer, puis chauffés dans un four rotatif à environ 1 400 degrés Celsius.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> : Il possède l’atout d’être durable : le ciment réagit bien aux perturbations extérieures, est assez peu susceptible de se fissurer ou de s’abîmer avec le temps.</li>
                  <li><i class="bi bi-check2-all"></i> Vous pouvez choisir cette option de maçonnerie pour assurer à votre habitation
                  solidité et durabilité
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="./img/roger-renovation/ciment.jpg" alt="" class="img-fluid">
              </div>
            </div>
           {# </div><!-- End tab content item --> #}
            {# <div class="tab-content"> #}

            {# <div class="tab-pane active show" id="tab-1"> #}
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>La chaux</h3> 
                <p class="fst-italic">
                  La chaux est connue et utilisée depuis longtemps.
                  Sa fabrication de la chaux se fait par cuisson, sous une température située entre 900 et 1200°C, de roches calcaires. 
                  Après la cuisson, la chaux vive est éteinte dans de l’eau avant d’être broyée.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>Elle possède la capacité naturelle de réguler l’humidité des murs et de la pièce.
                  Un atout qui permet d’améliorer le confort intérieur d'une habitation mais aussi de faire des économies d'énergie</li>
                  <li><i class="bi bi-check2-all"></i> Perméable à l'air, elle est en revanche imperméable à l’eau et protège les murs des intempéries.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="./img/roger-renovation/chaux.jpg" alt="" class="img-fluid">
              </div>
            </div>
            {# </div><!-- End tab content item --> #}
            {# <div class="tab-content"> #}
              {# <div class="tab-pane active show" id="tab-1"> #}
                <div class="row">
                  <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>La pierre</h3> 
                <p class="fst-italic">
                  La pierre est le principal matériau de maçonnerie en "dur", notamment murs et murets.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>Les façades en pierres sont reconnues pour leurs propriétés d’isolation. 
                  Elles ont la capacité de conserver dans la maison la chaleur en hiver et la fraîcheur en été.</li>
                  <li><i class="bi bi-check2-all"></i> Les pierres sont très étanches. 
                  </li>
                  <li><i class="bi bi-check2-all"></i> Elles possèdent une longévité supérieure contrairement à la plupart des matériaux de construction 
                  </li>
                  <li><i class="bi bi-check2-all"></i> Elles nécessitent peu d'entretien.
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="./img/roger-renovation/pierre.jpg" alt="" class="img-fluid">
              </div>
            </div>
            {# </div><!-- End tab content item --> #}
            {# <div class="tab-content"> #}

            {# <div class="tab-pane active show" id="tab-1"> #}
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>Le bois</h3> 
                <p class="fst-italic">
                  Les bois de construction sont des matériaux très bien adaptés qu'on emploie aussi bien pour l'ossature, la charpente, le cloisonnage et les planchers.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>Ce matériau apporte d’excellentes performances thermiques, synonyme d’économies d’énergies</li>
                  <li><i class="bi bi-check2-all"></i>Le bois représente une ressource renouvelable et donc respectueuse de l’environnement.</li>
                  <li><i class="bi bi-check2-all"></i>Les constructions en bois se montrent très solides et résistantes.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="./img/roger-renovation/bois.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->
          {# </div> #}

          <div class="tab-content">
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Le béton</h3>
                <p class="fst-italic">
                  Le béton est un assemblage de matériaux de nature généralement minérale. 
                  Il met en présence des matières inertes, appelées granulats ou agrégats, et un liant ainsi que des adjuvants qui modifient les propriétés physiques et chimiques
                  du mélange. Mêlé à de l'eau, on obtient une pâte, à l'homogénéité variable, qui peut, selon le matériau, être moulée en atelier, ou coulée sur chantier. 
                  Le béton se solidifie donc.
                  Le béton est un matériau très protecteur, grâce à sa masse, qui vous garantit:
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Une bonne isolation phonique : il protège contre les bruits extérieurs et intérieurs, et associés d’autres produits d’isolation il en augmente la performance.</li>
                  <li><i class="bi bi-check2-all"></i> Une excellente isolation thermique : son inertie thermique assure très peu d’écarts de température : 
                  en hiver, le béton absorbe la chaleur le jour et la redistribue la nuit quand que le bâtiment se rafraîchit ;
                  et l’été, le béton emmagasine la fraîcheur de la nuit pour la restituer le jour. 
                  Une maison en béton permet donc de faire des économies de chauffage, et par exemple d’éviter d’installer un système de climatisation.
                  De plus, il s’avère quasiment insensible aux intempéries, et résiste notamment très bien au gel.
                  </li>
                  <li><i class="bi bi-check2-all"></i> Une qualité de l’air irréprochable : le béton n’augmente pas la pollution de l’air ambiant dans la maison,
                  il ne dégage ni odeur ni composé organique volatil ; il ne produit aucune condensation qui favoriserait le développement de micro-organismes.</li>
                  <li><i class="bi bi-check2-all"></i> Une protection idéale contre le feu : lors des tests coupe-feu, un bloc béton offre une résistance bien supérieure à ce que
                  prévoit la réglementation. 
                  Par ailleurs, le béton exposé au feu ne dégage aucune émanation toxique.</li>
                  <li><i class="bi bi-check2-all"></i> Le béton assure également une protection efficace contre les séismes, du fait de sa solidité</li>
                  <li><i class="bi bi-check2-all"></i> Enfin il prévient efficacement contre les termites.</li>
                  
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./img/roger-renovation/beton.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>La brique de parement</h3>
                 <p class="fst-italic">
                  Les briques de parement ont une vocation avant tout esthétique.
                  On utilisera ainsi souvent des briques de parement pour décorer une façade déjà conçue. 
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Les briques de parement conservent très bien la chaleur émise par les rayons du soleil,
                  ce qui permet à votre habitation de refroidir moins vite en hiver. 
                  En été, vous profitez de l'effet inverse. Les briques de parement évitent à votre habitation de surchauffer.
                  Les façades en briques contribuent ainsi à instaurer un climat intérieur agréable. 
                  Elles vous permettent en plus d'économiser de l'énergie.  </li>
                  <li><i class="bi bi-check2-all"></i> Les façades en briques ne demandent aucun entretien et restent belles longtemps.
                  Elles revêtent un lustre particulier après un certain temps, ce que l'on appelle la patine du temps.</li>
                  <li><i class="bi bi-check2-all"></i> Les briques de parement sont également réutilisable ou recyclable</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./img/roger-renovation/brique-parement.png" alt="" class="img-fluid">
              </div>
            </div>
            
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Le sable et le gravier</h3>
                <p class="fst-italic">
                 Il existe deux types de sable : le sable fin et le sable gros grain ou grossier. 
                 Chaque type de sables est utilisé à des fins différentes.
                 Le sable gros grain est utilisé pour la fabrication du mortier de jointement alors que le sable fin est utilisé pour la réalisation du mortier de scellement.
                 Le gravier quant à lui, est un matériau utilisé pour la réalisation du béton et on le mélange avec du ciment.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Le sable et le gravier permettent de donner une meilleure adhérence aux passages qui risquent de se glacer en hiver.
                   Contrairement aux produits de déglaçage, ils ne font pas fondre la glace, mais permettent de marcher de façon sécuritaire sur la surface.</li>
                  <li><i class="bi bi-check2-all"></i> Les grains de sable et les petits cailloux permettent d’éviter les chutes et il suffira d’un simple nettoyage au printemps.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./img/roger-renovation/agregats.jpg" alt="" class="img-fluid" width="1000">
              </div>
            </div>

          </div><!-- End tab content item -->

        </div>

      </div>
    </section><!-- End Features Section -->

   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Roger Renovation</h3>
              <p>
                4 Rue Charles Prunier 014<br>
                14000 Caen<br><br>
                <strong>Phone:</strong> 07 69 59 76 49<br>
                <strong>Email:</strong> roger-renovation@outlook.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                {#   #}
                <a href="https://www.facebook.com/robin14000" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                {# <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a> #}
              </div>
            </div>
          </div><!-- End footer info column-->
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>UpConstruction</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
            href="https://themewagon.com">ThemeWagon</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

{% endblock %}


