<form method="post" action="{{ path('app_pictures_delete', {'id': pictures.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pictures.id) }}">
    <button class="btn">Delete</button>
</form>
