{% block header %}
            {% include "./admin/header.html.twig" %}
{% endblock %}

{# {% block title %}Ajouter une photo{% endblock %} #}

{% block body %}
    <br><h2>Ajouter/Modifier une photo</h2>
    {{ form(form) }}
    {{ include('admin/pictures/_form.html.twig') }}

    <a href="{{ path('admin_pictures_home') }}">Retour vers la liste des photos</a>
{% endblock %}